[submodule "zprezto"]
	path = zprezto
	url = git@github.com:aaron-williamson/prezto
[submodule "vim"]
	path = vim
	url = git@github.com:aaron-williamson/vimdir
[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:aaron-williamson/emacs-config
