[submodule "zprezto"]
	path = zprezto
	url = git@github.com:aaron-williamson/prezto
	branch = master
[submodule "vim"]
	path = vim
	url = git@github.com:aaron-williamson/vimdir
[submodule "base16-shell"]
	path = base16-shell
	url = git@github.com:aaron-williamson/base16-shell
